<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Resenha Cultural</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/estilo.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Cabecalho")

    <div class="container clearfix">
        <!--região principal-->
        <main>
            @RenderBody()
        </main>

        @Html.Partial("MenuLateral")
    </div>

    @Html.Partial("Rodape")

    <!--seção opcional para carregar scripts-->
    @RenderSection("Scripts", false)
</body>
</html>
